
<div th:fragment="footer">
	<head>
<meta charset="UTF-8">
	</head>

	<!-- Footer -->
	<footer class="footer">

		<!-- Footer Elements -->
		<div class="container">
			<div class="row d-flex justify-content-center mb-1">
				<div class="row icons center mt-3">
					<div class="col-auto">
						<a class="btn btn-outline-light btn-social mx-1" href="javascript:void()"  title="Facebook" 
						   onclick="window.open('https://www.facebook.com/rayllanderson.goncalves/', '_blank');">
							<span style="font-size: 19px"> 
								<i class="fab fa-fw fa-facebook-f"> </i>
							</span>
						</a> 
					</div>
					<div class="col-auto">
						<a href="javascript:void()" class="btn btn-outline-light btn-social mx-1"  title="Github"
							onclick="window.open('https://github.com/Rayllanderson', '_blank');">
							<span style="font-size: 19px"> 
								<i class="fab fa-github white-text"></i>
							</span>
						</a> 
					</div>
					<div class="col-auto">
						<a class="btn btn-outline-light btn-social mx-1" title="Instagram"
							href="javascript:void()"
							onclick="window.open('https://www.instagram.com/_ray_goncalves_/', '_blank');">
							<span style="font-size: 19px">
								<i	class="fab fa-instagram white-text"></i>
							</span>
						</a>
					</div>
				</div>
			</div>


			<div class="mt-2 mb-md-1 mb-4"></div>
		</div>

		<div class="copyright footer-copyright text-center py-3 ">
			<p class="lead mb-0" style="font-size:17px">Rayllanderson Rodrigues</p></div>

	</footer>
	<!-- Footer -->

</div>