<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Pessoas</title>
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

	<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
	crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
	integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark  justify-content: between">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="/" class="nav-link active" >Home</a>
						</li>
						<li class="nav-item">
							<a href="/pessoas" class="nav-link active">Pessoas</a>
						</li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="/usuarios" class="nav-link active">Usuários</a>
						</li>
					</ul>
					<a class="nav-link active" href="/logout" style="color:white;">Logout</a>
				 </div>
			</div>
		</nav>
		

	<div class="container">
		
		<div th:each="m : ${msg}" class="alert alert-warning" role="alert">
			<p class="font-weight-bold"th:text="${m}"></p>
		</div>
		
		<div class="card mt-3">
			<h3 class="text-center mt-3">Cadastrar</h3>
			<!--  FORM -->
			<form method="POST" action="/pessoas" th:object="${people}" enctype="multipart/form-data" onsubmit="return validation('name')">
				<div class="row justify-content-center mb-2">
					<input style="display: none" th:field="*{id}" name="id"/>
						<div class="col-4" >
							<label for="name" class="col-form-label">Nome </label>
							<input type="text" class="form-control" placeholder="Nome" id="name" name="name" th:field="*{name}" />
						</div>
						<div class="w-100"></div>
						<div class="col-4" >
							<label for="name" class="col-form-label">Gênero </label>
							<select th:field="*{gender}" class="form-select">
								<option th:each = "g : ${T(com.rayllanderson.entities.enums.Gender).values()}" th:value="${g}" th:text="${g.name}"/>
							</select>
						</div>
						<div class="w-100"></div>
						<div class="col-4" >
							<label class="col-form-label">Profissão </label>
							<select th:field="*{profession}" class="form-select">
								<option th:each="profession : ${professions}" th:value="${profession.id}" th:text="${profession.name}"></option>
							</select>
						</div>
						<div class="w-100"></div>
						<div class="col-4" >
							<label class="col-form-label">Data de Nascimento </label>
							<input type="date" th:field="*{birthday}" class="form-control" />
						</div>
						<div class="w-100"></div>
						<div class="col-4" >
							<label class="col-form-label">Currículo </label>
							<input type="file" name="file" class="form-control" />
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col-4 mb-2">
							<button type="submit" class="btn btn-primary d-flex justify-content-end">Cadastrar</button>
						</div>
				</div>
			</form> <!-- FIM CADASTRO -->

		</div>
		
		<fieldset class="p-4 mt-3 mb-3 card" >
			<legend class="text-center mb-3 font-weight-bold">Campo de Pesquisa</legend>
	
			<div class="row g-3 align-items-center mb-2">
				
				<!-- SEARCH -->
				<form action="/pessoas/search" method="POST" id="searchGender" class="mb-2 form-search">
						<div class="col-4">
							<h5 class="text-center">Filtrar por genero</h5>
							<select class="form-select" id="genders" name="gender">
								<option value="null">Selecione um genero</option>
								<option th:each = "g : ${T(com.rayllanderson.entities.enums.Gender).values()}" th:value="${g}" th:text="${g.name}"/>
							</select>
						</div>
				</form>
				
				
				<!-- SEARCH -->
				<form action="/pessoas/search" method="GET" id="searchName" class="form-search">
						<div class="col-6">
							<h5 class="text-center">Filtrar por nome</h5>
							<div class="input-group mb-3">
								<input type="text" class="form-control" name="name">
								<button class="btn btn-outline-primary" type="submit">Pesquisar</button>
							</div>	
						</div>
				</form>
				<form action="/pessoas/pdf-report-download" method="get">
					<div class="col-auto">
						<button class="btn btn-outline-primary" type="submit" id="generatePdf">Gerar PDF</button>
					</div>
				</form>
			</div>
			
		</fieldset>
		<div class="card card-table">
			<!--  TABLE -->
			<table class="table table-hover" id="peopleTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Sexo</th>
						<th>Profissão</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="people : ${peoples}">
						<td th:text="${people.id}"></td>
						<td> <a th:href="@{/infos/{id}(id=${people.id})}" class="nav-link"><span th:text="${people.name}"></span></a></td>
						<td th:text="${people.gender.name}"></td>
						<td th:text="${people.profession.name}"></td>
						<td> <a class="btn btn-outline-primary" th:href="@{/pessoas/{id}(id=${people.id})}"><i class="fas fa-edit"></i></a> </td>
						<td> <a class="btn btn-outline-danger" th:href="@{/pessoas/delete/{id}(id=${people.id})}"><i class="fas fa-trash-alt"></i></a> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
            
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>