<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pessoas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
	crossorigin="anonymous"></script>
</head>
<body>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="/" class="nav-link active" >Home</a>
						</li>
					</ul>
				 </div>
			</div>
		</nav>
		

	<div class="container">
		
		
		<h3 class="text-center">Cadastrar</h3>
		<!--  FORM -->
		<div style="display: flex; justify-content: center">
			<form method="POST" action="/pessoas" th:object="${people}">
				<input style="display: none" th:field="*{id}" name="id"/>
				<div class="row g-3 align-items-center mb-3 mt-1">
					<div class="col-auto" >
						<input type="text" class="form-control" placeholder="Nome" id="name" name="name" th:field="*{name}" />
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>

		<!-- SEARCH -->
		<form action="/pessoas/search" method="GET">
			<div class="search-body mb-3">
				<h3 class="text-center">Procurar por nome</h3>
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="name">
					<button class="btn btn-outline-primary" type="submit">Pesquisar</button>
				</div>	
			</div>
		</form>
		<!--  TABLE -->
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="people : ${peoples}">
					<td th:text="${people.id}"></td>
					<td th:text="${people.name}"></td>
					<td> <a th:href="@{/pessoas/{id}(id=${people.id})}">Editar</a> </td>
					<td> <a th:href="@{/pessoas/delete/{id}(id=${people.id})}">Excluir</a> </td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>